:root {
  --main-bg-color: #f49e55;
  --darker-bg-color: #ffa659;
  --main-border-color: #757575;
}

.fancy-button {
  background-color: var(--main-bg-color);
  padding: 10px;
  font-weight: 600;
  width: 140px;
  border: 2px solid var(--main-border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

.fancy-button::after {
  content: '\00d7';
  font-size: 24px;
  background: #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.fancy-button:hover {
  cursor: pointer;
  background-color: var(--darker-bg-color);
}
